/* .bannerbox{
    background-color: #3C3C3C;
    padding-bottom:3em;
}
.navbar{
    background-color: #1E1E1E;
    color: lightskyblue;
    padding-bottom: .5em;
    padding-top: .5em;
    display:flex;
    justify-content: center;
    font-size: xx-large;
    border-radius: 50px;
    font-family: 'Russo One', sans-serif;
}

.home
    color: #9778BF;
}

.about{
    color: #CC917A;
}

.profile{
    color: #55C9B0;
} */